<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\movieTickApi.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />

			<!-- 為 wwwroot 子目錄下的 Angular 應用添加 URL 重寫規則 -->
			<rewrite>
				<rules>
					<rule name="Angular Routes" stopProcessing="true">
						<match url="^wwwroot/.*" />
						<conditions logicalGrouping="MatchAll">
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						</conditions>
						<action type="Rewrite" url="wwwroot/index.html" />
					</rule>
				</rules>
			</rewrite>
		</system.webServer>
	</location>
</configuration>