// u-gapT
@each $name, $value in $gaps {
    .u-gapT-#{$name} {
        margin-top: $value;
    }
}

@include breakpoint-only("desktop") {
    @each $name, $value in $gaps {
        .u-gapT-#{$name}-d {
            margin-top: $value;
        }
    }
}

@include breakpoint-only("tablet") {
    @each $name, $value in $gaps {
        .u-gapT-#{$name}-t {
            margin-top: $value;
        }
    }
}

@include breakpoint-down("mobile") {
    @each $name, $value in $gaps {
        .u-gapT-#{$name}-m {
            margin-top: $value;
        }
    }
}

// u-gapB
@each $name, $value in $gaps {
    .u-gapB-#{$name} {
        margin-bottom: $value;
    }
}

@include breakpoint-only("desktop") {
    @each $name, $value in $gaps {
        .u-gapB-#{$name}-d {
            margin-bottom: $value;
        }
    }
}

@include breakpoint-only("tablet") {
    @each $name, $value in $gaps {
        .u-gapB-#{$name}-t {
            margin-bottom: $value;
        }
    }
}

@include breakpoint-down("mobile") {
    @each $name, $value in $gaps {
        .u-gapB-#{$name}-m {
            margin-bottom: $value;
        }
    }
}

// u-gapH
@each $name, $value in $gaps {
    .u-gapH-#{$name} {
        padding-left: $value;
        padding-right: $value;
    }
}

@include breakpoint-only("desktop") {
    @each $name, $value in $gaps {
        .u-gapH-#{$name}-d {
            padding-left: $value;
            padding-right: $value;
        }
    }
}

@include breakpoint-up("tablet") {
    @each $name, $value in $gaps {
        .u-gapH-#{$name}-t {
            padding-left: $value;
            padding-right: $value;
        }
    }
}

@include breakpoint-up("mobile") {
    @each $name, $value in $gaps {
        .u-gapH-#{$name}-m {
            padding-left: $value;
            padding-right: $value;
        }
    }
}

// u-gapV
@each $name, $value in $gaps {
    .u-gapV-#{$name} {
        margin-top: $value;
        margin-bottom: $value;
    }
}

@include breakpoint-only("desktop") {
    @each $name, $value in $gaps {
        .u-gapV-#{$name}-d {
            margin-top: $value;
            margin-bottom: $value;
        }
    }
}

@include breakpoint-only("tablet") {
    @each $name, $value in $gaps {
        .u-gapV-#{$name}-t {
            margin-top: $value;
            margin-bottom: $value;
        }
    }
}

@include breakpoint-only("mobile") {
    @each $name, $value in $gaps {
        .u-gapV-#{$name}-m {
            margin-top: $value;
            margin-bottom: $value;
        }
    }
}
